<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhonghao.springboot.mapper.BIllMapper">

    <select id="getBillByBid" resultType="com.zhonghao.springboot.entities.Bill">
        select * from bill where bid = #{bid}
    </select>

    <insert id="addBill">
      insert into bill(bill_code, bill_name) values(#{billCode}, #{billName})
    </insert>
</mapper>